<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
</head>
<body>
    <div class='all'>
    <h1 class='product_name'>{{ product.name }}</h1>
    <img class='image' src="{{ product.image.url }}" alt="{{ product.name }}" width="300">
    <p class='description'>{{ product.description }}</p>
    <p class='price'>Цена: {{ product.price }} ₽</p>

    <form action="{% url 'add_to_cart' product.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn1">Добавить в корзину</button>
    </form>

    <a href="{% url 'product_list' %}">Вернуться к списку товаров</a>
</div>

</body>
</html>
